# Ignore everything
*

# Except these files
!.gitignore
!.golangci.yml
!go.mod
!go.sum
!install.sh
!LICENSE
!Makefile
!README.md

# Except these directories and their contents
!cmd/
!cmd/**
!completions/
!completions/**
!internal/
!internal/**
!repo/
!repo/**
